/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-image: url('/Imagenes/jack.jpg');
    background-size: cover;
    background-position: center;
    overflow: scroll;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 105, 167, 0.568); 
    z-index: -1; 
}
/* Cambie el color del header y la fuente*/
header {
    position: sticky;
    top: 0;
    background-color: #e5dde6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 0; /* Empuja el logo hacia la izquierda */
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px; /* Ajusta el espacio entre la imagen y el título */
}

.logo h1 {
    font-size: 24px; /* Ajusta el tamaño del título */
    color: #333;
    margin: 0; /* Elimina el margen superior e inferior del título */
}
/* Cambie los botones que teniamos por button y les puse otro estilo */
.button {
   border: 0;
   background-image: linear-gradient(
    150deg,
    #8f7193,
    #c0a0c3,
    #9c879e);
    border-radius: 8px;
    color:#fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    display:inline-flex;
}
.button span{
    background-color: #8f7193;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .1s;
}

.button:hover {
    background: none;
    color: #53285a
}
.button:active{
    transform: scale(0.3);
}

.hero h3{
    font-size: 30px;
}
.hero .button{
    align-items: center;
    text-align: center; 
    margin-top: 30px;
}
.services {
    margin-top: 80px;
    text-align: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services-title {
    font-size: 36px;
    margin-bottom: 30px; /* Ajusta el espacio entre el título y los servicios */
    color: #f5f5f5;
    text-align: center;
}

.service {
    width: calc(25% - 20px);
    margin: 0 10px;
    padding: 20px;
    background-color: #e5dde6;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.service:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el cursor */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.service-icon {
    color: #8f7193; /* Color de los íconos */
    margin-bottom: 10px;
}

.service h3 {
    font-size: 24px; /* Tamaño de fuente para los títulos */
    margin-bottom: 10px;
    color: #333;
}

.service p {
    font-size: 24px; /* Tamaño de fuente para el texto */
    color: #666;
}

.fotos{
    margin-top: 80px;
    margin-bottom: 50px;
}

.fotos h2{
    text-align: center;
    color: #f5f5f5;
    font-size: 50px;
}

.fotos p{
    text-align: center;
    color: #f5f5f5;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.textoImagen p{
    font-size: 100px;
}

/* Galeria de fotos */

.galeria_contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria{
    display: flex;
    width: 800px;
    height: 430px;
}
.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover{
    cursor: crosshair;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}

/* Sección de Contacto */
.contact {
    text-align: center;
    padding: 5px 0;
    background-color: #f5f5f5;
    color: #333;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #8f7193;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact a:hover {
    background-color: #333;
}


/* Estilos para el footer */
.footer {
    background-color: #8f7193;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.footer-logo h3 {
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.footer-info p {
    margin: 5px 0;
    font-size: 16px;
}

/* Estilos para los íconos de redes sociales */
.footer-social {
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #53285a;
}


.textoImagen{
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
/* Estilos para el dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px; /* Agregado para redondear los bordes del dropdown */
}

.dropdown-content a {
    color: black;
    padding: 10px 20px; /* Ajuste del padding para un espacio más cómodo */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s; /* Agregado para una transición suave */
}

.dropdown-content a:hover {
    background-color: #e5e5e5; /* Cambio en el color de fondo al pasar el cursor */
}

/* Estilos para los botones dentro del dropdown */
.dropdown-content a[href^="/logInVet"],
.dropdown-content a[href^="/logInCliente"] {
    background-color: #8f7193;
    color: white;
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
    padding: 10px 20px; /* Ajuste del padding para un espacio más cómodo */
}

/* Cambio de color al pasar el cursor por encima del botón */
.dropdown-content a[href^="/logInVet"]:hover,
.dropdown-content a[href^="/logInCliente"]:hover {
    background-color: #53285a;
    transform: scale(1.05); /* Cambio de escala al pasar el cursor */
}

.dropdown:hover .dropdown-content {
    display: block;
}
