<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Estilos/style.css">  
    <script src="https://kit.fontawesome.com/0f4cd78e74.js" crossorigin="anonymous"></script>

    <title>Veterinaria PetQuitas</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Imagenes/icon.png" alt="Logo de la veterinaria">
            <h1>Veterinaria PetQuitas</h1>
        </div>
        <nav>
            <ul>
                <li><a class="button" href="/"><span>Inicio</span></a></li>
                <li><a class="button" href="/#servicios"><span>Servicios</span></a></li>
                <li><a class="button" href="/#contacto"><span>Contacto</span></a></li>
                <li class="dropdown">
                    <a class="button" href="#"><span>Log In &#9662;</span></a>
                    <div class="dropdown-content">
                        <a href="/logInVet">Ingresar como veterinario</a>
                        <a href="/logInCliente">Ingresar como cliente</a>
                    </div>
                </li>
            </ul>
        </nav>
        
    </header>

    <section id="inicio">
        <div class="hero">
            <h2 class="textoImagen">Estamos entregados al cuidado de tu felino</h2>
            <h3 class="textoImagen">Cuidemos de nuestras mascotas.</h3>
            <a class="button" href="#contacto"><span>¡Contáctanos!</span></a>
        </div>
    </section>



    <section id="servicios">
        <h2 class="services-title">Nuestros Servicios</h2>
        <div class="services">
            <div class="service">
                <i class="fas fa-stethoscope fa-3x service-icon"></i>
                <h3>Consultas Veterinarias</h3>
                <p>Exámenes y diagnósticos completos para mantener a tu michi saludable.</p>
            </div>
            <div class="service">
                <i class="fas fa-syringe fa-3x service-icon"></i>
                <h3>Vacunaciones</h3>
                <p>Protege a tu gato contra enfermedades mortales mediante nuestro programa de vacunación. Las vacunas son seguras y eficaces, y son una parte crucial de su atención médica.</p>
            </div>
            <div class="service">
                <i class="fas fa-heartbeat fa-3x service-icon"></i>
                <h3>Cirugías</h3>
                <p>Realizamos cirugías seguras y necesarias para el bienestar de tus mascotas. Nuestros profesionales están altamente capacitados para brindar la mejor atención quirúrgica.</p>
            </div>
            <div class="service">
                <i class="fas fa-ambulance fa-3x service-icon"></i>
                <h3>Emergencias 24/7</h3>
                <p>Estamos disponibles en cualquier momento para atender emergencias veterinarias. Brindamos atención inmediata para situaciones críticas.</p>
            </div>
        </div>
    </section>
    
    
    <section class="fotos">
        <h2>Nuestros Pacientes!</h2>
        <p>Nuestra galeria de fotos muestra el cuidado y amor que ponemos con los michis para su recuperación</p>
        <div class="galeria_contenedor">
            <section class = "galeria">
                    <img src="https://www.purina.es/sites/default/files/2021-12/Antes%20de%20viajar%20con%20tu%20gato%20La%20visita%20al%20veterinario_teaser.jpg">
                    <img src="https://e1.nmcdn.io/anicira/wp-content/uploads/2021/08/Emergency-cat.png/v:1-width:600-height:411-fit:cover/Emergency-cat.png?signature=5605d470">
                    <img src="https://veterinariosgasparaguilar.es/wp-content/uploads/2022/06/med-felina-1-1024x684.jpg">
                    <img src="https://www.pelosefocinhos.com.br/wp-content/uploads/2020/02/medicina-felina.jpg">
                    <img src="https://www.eltiempo.com/files/image_640_428/files/crop/uploads/2022/05/10/627b0443c3d63.r_1652242989959.0-110-3000-1612.jpeg">
        </div>
            </section>
    </section>



    <section id="contacto">
        <div class="contact">
            <h2>Contacto</h2>
            <p>Estamos aquí para ayudarte. Contáctanos para más información.</p>
            <ul>
                <li><a href="https://www.instagram.com">Síguenos en Instagram</a></li>
                <li><a href="mailto:info@PetQuitas.com">Correo Electrónico: info@PetQuitas.com</a></li>
                <li>Teléfono: +57-456-7890</li>
                <li>Dirección: Calle de las Mascotas, 1234</li>
            </ul>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/Imagenes/icon.png" alt="Logo de la veterinaria">
                <h3>Veterinaria PetQuitas</h3>
            </div>
            <div class="footer-info">
                <p>&copy; 2023 Veterinaria PetQuitas. Todos los derechos reservados.</p>
                <p>Dirección: Calle de las Mascotas, 1234</p>
                <p>Teléfono: +57-456-7890</p>
                <p>Correo Electrónico: info@PetQuitas.com</p>
            </div>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
    
</body>
</html>
